.loader {
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	top: 200px;

	&__image {
		animation: spin 3s linear infinite;
		animation-duration: 2000ms;
	}

	@keyframes spin {
		to {
			transform: rotate(-1turn);
		}
	}
}
